@font-face {
  font-family: "Alex Brush";
  src: url(AlexBrush-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: hotpink;
  font-family: "Alex Brush";
  font-size: 500%;
  margin: 0;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  border-left: 1px solid #ccc;
  display: inline-block;
  padding: 0 1em;
}

header nav ul li:first-child {
  border-left: 0;
  padding-left: 0;
}

header nav ul .current {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 110em;
  justify-content: space-between;
  margin-top: 3em;
}

.listing {
  min-width: 54.5em;
}

.listing h2, table thead th {
  background: #666;
  color: white;
  font-variant: small-caps;
  padding: .5em 2em .5em 25px;
  margin-top: 0;
  font-size: 1.5em;
}

th, td {
  text-align: left;
  padding: 1em 2em;
}

th[scope="row"], td {
  font-weight: normal;
}

tr:nth-child(even) {
  background: #f0f0f0;
}

.listing details {
  padding-left: 25px;
}

.listing summary {
  list-style: none;
  cursor: pointer;
}

.listing summary::-webkit-details-marker {
  display: none;
}

.listing details:not([open]) {
  color: #666;
  filter: grayscale(100%);
}

.listing details:not([open]) summary::after {
  display: block;
  content: "click to expand";
}

.listing details[open] .count {
  display: none;
}

.listing h3 {
  margin: 1.5em 0 1.5em 0;
}

.listing h3::before {
  position: absolute;
  margin-left: -25px;
  font-size: 125%;
}

.listing h3.state-fish::before { content: "🐟"; }
.listing h3.state-haircut::before { content: "💇"; }
.listing h3.state-nail_care::before { content: "💅"; }
.listing h3.state-unreviewed::before { content: "🙈"; }
.listing h3.state-eyeglasses::before { content: "👓"; }
.listing h3.state-running::before { content: "🏃"; }

.pull-request {
  border-top: 1px solid #ccc;
  margin-top: .25em;
  padding: .5em 0;
}

.pull-request:first-of-type {
  border-top: none;
}

.pull-request h4 {
  font-weight: normal;
  margin: 0 0 0 0;
}

.pull-request .tagline {
  color: #666;
  margin: 0;
}

.pull-request .tagline a {
  color: #666;
  text-decoration: none;
}

.pull-request .review-states {
  float: right;
  list-style: none;
  margin: 0;
}

.pull-request .review-states li {
  display: inline-block;
  margin: 0 0 0 .25em;
}

.pull-request .review-states a {
  font-size: 125%;
  text-decoration: none;
}

.tooslow {
  color: red;
  font-weight: bold;
}

.nada {
  color: #666;
}

.error {
  color: #400;
  background-color: #fcc;
}

p.error {
  padding: 1em;
}

section.text {
  max-width: 60em;
}

code {
  background-color: #ddd;
}

dt {
  font-size: 1.25em;
  margin-top: 2em;
}

dd {
  margin-top: 1em;
}
