<!doctype html>
<html>
  <head>
    <title>the salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/timetext.js') }}" defer></script>
  </head>
  <body>
    <header>
      <h1><a href="/">harold's code salon</a></h1>

      <nav>
        <ul>
          <li><a href="https://github.com/spladug/harold/wiki/Code-Salon-Emoji" target="_blank">what do all these emoji mean?</a>
          <li><a href="{{ url_for('overview') }}">see all pull requests</a>
          <li><a href="{{ url_for('salons') }}">see all deploy salons</a>
        </ul>
      </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>
  </body>
</html>
