<!doctype html>
<html>
  <head>
    <title>the salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/timetext.js') }}" defer></script>
  </head>
  <body>
    <header>
      <h1><a href="/">harold's code salon</a></h1>

      <nav>
        <ul>
          {% macro nav_link(route, text) %}
          {% if request.endpoint != route %}
          <li><a href="{{ url_for(route) }}">{{ text }}</a>
          {% else %}
          <li class="current">{{ text }}</li>
          {% endif %}
          </li>
          {% endmacro %}

          {{ nav_link('emoji', 'what do all these emoji mean?') }}
          {{ nav_link('overview', 'see all pull requests') }}
          {{ nav_link('salons', 'see all deploy salons') }}
        </ul>
      </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>
  </body>
</html>
