<!doctype html>
<html>
  <head>
    <title>the salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <header>
      <h1><a href="/">harold's code salon</a></h1>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <nav>
        <ul>
          <li><a href="https://github.com/spladug/harold/wiki/Code-Salon-Emoji" target="_blank">what do all these emoji mean?</a>
          <li><a href="/overview">see all pull requests</a>
          <li><a href="/salons">see all deploy salons</a>
        </ul>
      </nav>
    </footer>
  </body>
</html>
