{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block content %}
  <section class="listing">
    {% if not username_overridden: %}
    <h2>to review (<abbr title="as soon as possible">asap</abbr>, within one business day)</h2>
    {% else %}
    <h2>@{{username}} needs to review</h2>
    {% endif %}

    <ul class="statistics">
      <li><span class="metric">{{ metrics.counters.review | default("0") }}</span> reviews in the past {{ metrics_horizon }} days
      {% if metrics.get("timers", {}).review %}
      <li><span class="metric {% if metrics.timers.review > review_deadline*86400 %}tooslow{% endif %}"
                title="try to keep this under {{ review_deadline }} business day{% if review_deadline > 1: %}s{%endif%}">
        {{ metrics.timers.review | timespan }}</span> <abbr title="90th percentile">p90</abbr> response time
      {% endif %}
    </ul>

    {% for state, blocker in [("haircut", True), ("unreviewed", True), ("nail_care", False), ("fish", False)]: %}
    <details {{ "open" if blocker or not to_review[state] else "" }}>
      <summary>
        <h3 class="state-{{ state }}">{{ state_meanings[state] }} <span class="count">({{ to_review[state] | length }})</span></h3>
      </summary>
      {% for pull_request in to_review[state]: %}
      <div class="pull-request">
        <h4>{{ utils.truncated_title(pull_request.title, pull_request.url) }}</h4>
        <p class="tagline">
          {{ utils.timestamp(pull_request.state_for_user(username).timestamp, review_deadline if blocker else None) }}
          &middot;
          <a href="/user/{{ pull_request.author }}">@{{ pull_request.author }}</a>
          &middot;
          <a href="/repo/{{ pull_request.repository }}">{{ pull_request.repository }}</a>#{{ pull_request.id }}
        </p>
      </div>
      {% else %}
      {% if blocker and not username_overridden %}
      <p class="nada">all clear! thank you</p>
      {% else %}
      <p class="nada" lang="es">nada</p>
      {% endif %}
      {% endfor %}
      </details>
    {% endfor %}
  </section>

  <section class="listing">
    {% if not username_overridden: %}
    <h2>my pull requests (don't let these linger)</h2>
    {% else %}
    <h2>@{{username}}'s pull requests</h2>
    {% endif %}

    <ul class="statistics">
      <li><span class="metric">{{ metrics.counters.opened | default("0") }}</span> opened in the past {{ metrics_horizon }} days
      {% if metrics.get("timers", {}).open %}
      <li><span class="metric {% if metrics.timers.open > merge_deadline*86400 %}tooslow{% endif %}"
                title="try to keep this under {{ merge_deadline }} business days">
        {{ metrics.timers.open | timespan }}</span> <abbr title="90th percentile">p90</abbr> age
      {% endif %}
    </ul>

    {% for state in ["fish", "eyeglasses", "nail_care", "unreviewed", "haircut"]: %}
    <details open>
      <summary>
        <h3 class="state-{{ state }}">{{ state_meanings[state] }} <span class="count">({{ my_pulls[state] | length }})</span></h3>
      </summary>
      {% for pull_request in my_pulls[state]: %}
      <div class="pull-request">
        <ul class="review-states">
          {% for user, state in pull_request.current_states().iteritems(): %}
            {% if user != pull_request.author or state.state != "unreviewed": %}
            <li title="@{{ user }}: {{ state_meanings[state.state] }}" class="state state-{{ state.state }}"><a href="/user/{{user}}">{{ emoji[state.state] }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <h4>{{ utils.truncated_title(pull_request.title, pull_request.url) }}</h4>
        <p class="tagline">
          {{ utils.timestamp(pull_request.created, merge_deadline) }}
          &middot;
          <a href="/repo/{{ pull_request.repository }}">{{ pull_request.repository }}</a>#{{ pull_request.id }}
        </p>
      </div>
      {% else %}
      <p class="nada" lang="es">nada</p>
      {% endfor %}
    </details>
    {% endfor %}
  </section>

{% endblock %}
