{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block content %}
  <div class="listing">
    <h2>to review (<abbr title="as soon as possible">asap</abbr>, within one business day)</h2>
    {% for state, blocker in [("haircut", True), ("unreviewed", True), ("nail_care", False), ("fish", False)]: %}
    <details {{ "open" if blocker or not to_review[state] else "" }}>
      <summary>
        <h3 class="state-{{ state }}">{{ state_meanings[state] }} ({{ to_review[state] | length }})</h3>
      </summary>
      {% for pull_request in to_review[state]: %}
      <div class="pull-request">
        <h4>{{ utils.truncated_title(pull_request.title, pull_request.url) }}</h4>
        <p class="tagline">
          {{ utils.timestamp(pull_request.state_for_user(username).timestamp, review_deadline if blocker else None) }}
          &middot;
          <a href="https://{{ config.GITHUB_HOSTNAME }}/{{ pull_request.author }}">@{{ pull_request.author }}</a>
          &middot;
          <a href="{{ pull_request.url }}">{{ pull_request.repository }}#{{ pull_request.id }}</a>
        </p>
      </div>
      {% else %}
      {% if blocker %}
      <p class="nada">all clear! thank you</p>
      {% else %}
      <p class="nada" lang="es">nada</p>
      {% endif %}
      {% endfor %}
      </details>
    {% endfor %}
  </div>

  <div class="listing">
    <h2>my pull requests (don't let these linger)</h2>
    {% for state in ["fish", "eyeglasses", "nail_care", "unreviewed", "haircut"]: %}
    <details open>
      <summary>
        <h3 class="state-{{ state }}">{{ state_meanings[state] }} ({{ my_pulls[state] | length }})</h3>
      </summary>
      {% for pull_request in my_pulls[state]: %}
      <div class="pull-request">
        <ul class="review-states">
          {% for user, state in pull_request.current_states().iteritems(): %}
            {% if user != pull_request.author or state.state != "unreviewed": %}
            <li title="@{{ user }}: {{ state_meanings[state.state] }}" class="state state-{{ state.state }}">:{{ state.state }}:</li>
            {% endif %}
          {% endfor %}
        </ul>

        <h4>{{ utils.truncated_title(pull_request.title, pull_request.url) }}</h4>
        <p class="tagline">
          {{ utils.timestamp(pull_request.created, merge_deadline) }}
          &middot;
          <a href="{{ pull_request.url }}">{{ pull_request.repository }}#{{ pull_request.id }}</a>
        </p>
      </div>
      {% else %}
      <p class="nada" lang="es">nada</p>
      {% endfor %}
    </details>
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timetext.js') }}"></script>

{% endblock %}
