{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block content %}

<table>
  <caption>Review Log</caption>
{% for event in events: %}
  <tr>
    <td>{{ utils.timestamp(event.timestamp) }}</td>
    <td>{{ utils.repository_link(event.repository) }}#{{ event.pull_request_id }}</td>
    <td>{{ utils.user_link(event.actor) }}</td>
    <td>
      {% if event.event == "opened": %}
      Opened pull request
      {% elif event.event == "review_requested": %}
      Requested review from {{ event.info.targets | join(", ") }}
      {% elif event.event == "review_request_removed": %}
        {% if event.info.targets and event.info.targets[0] == event.actor %}
        Declined to review 🏃
        {% else %}
        Removed review request for {{ event.info.targets | join(", ") }}
        {% endif %}
      {% elif event.event == "review": %}
        {% if event.info.state == "APPROVED": %}
        Approved 🐟
        {% elif event.info.state == "CHANGES_REQUESTED": %}
        Requested Changes
        {% endif %}
      {% elif event.event == "closed": %}
      Closed pull request
      {% elif event.event == "reopened": %}
      Reopened pull request
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

<nav class="pagination">
  <ol>
    <li>← <a href="{{ url_for("log", before=events[-1].timestamp.replace(microsecond=0).isoformat(), count=count, event_types=event_types) }}">Older</a>
    {% if before: %}
    <li><a href="{{ url_for("log", count=count, event_types=event_types) }}">Back to the present</a> →
    {% endif %}
  </ol>
</nav>

{% endblock %}
