{% macro truncated_title(title, url) -%}
  {% if url: %}
  <a href="{{ url }}" title="{{ title }}" target="_blank">
  {% endif %}
  {% if title|length > 70: %}
  {{ title[:70] }}&hellip;
  {% else %}
  {{ title }}
  {% endif %}
  {% if url: %}
  </a>
  {% endif %}
{%- endmacro %}

{% macro timestamp(ts, deadline=None) -%}
<time
  {% if deadline %}
  data-deadline="{{ deadline }}"
  {% endif %}

  datetime="{{ ts.isoformat() }}Z"
  title="{{ ts.strftime("%a %d %b %Y %H:%M") }}" >
  {{ ts.strftime("%Y-%m-%d %H:%M") }}
</time>
{%- endmacro %}

{% macro repository_link(repo_name) -%}
<a href="{{ url_for("repo", repo_name=repo_name) }}" class="repository">{{ repo_name }}</a>
{%- endmacro %}

{% macro user_link(user_name) -%}
<a href="{{ url_for("salon", override_username=user_name) }}" class="user">@{{ user_name }}</a>
{%- endmacro %}
