{% macro truncated_title(title, url) -%}
  {% if url: %}
  <a href="{{ url }}" title="{{ title }}">
  {% endif %}
  {% if title|length > 70: %}
  {{ title[:70] }}&hellip;
  {% else %}
  {{ title }}
  {% endif %}
  {% if url: %}
  </a>
  {% endif %}
{%- endmacro %}

{% macro timestamp(ts, deadline=None) -%}
<time
  {% if deadline and ts < deadline %}
  class="tooslow"
  {% endif %}

  datetime="{{ ts.isoformat() }}Z"
  title="{{ ts.strftime("%a %d %b %Y") }}" >
  {{ ts.strftime("%Y-%m-%d %H:%M") }}
</time>
{%- endmacro %}
